<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.majiajie.barcodereader">

    <!-- 相机权限 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 闪光灯 -->
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <!-- 描述所需硬件功能 -->
    <uses-feature android:name="android.hardware.camera" />

    <application>

        <activity android:name=".ScanActivity"
            android:label="扫码"
            android:launchMode="singleTask"
            android:theme="@style/ScanTheme"
            android:screenOrientation="portrait"/>

    </application>
</manifest>
